.notification {
  position: absolute;
  left: 30%;
  padding: 1ch;
  font-size: 1.4ch;
  border-radius: 1ch;
  font-weight: bold;
  margin: 1ch;
  top: 0;
  background-color: rgb(255, 99, 99);
  color: #511010;
  .notification-show {
    display: block;
  }

  .notification-hide {
    display: none;
  }
}

#auth-button {
  margin: 40%;
  border-radius: 1ch;
  padding: 1ch;
  color: white;
  border: none;
  background-color: rgb(249, 77, 77);
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: 0;
  }
}

#sign-out-button {
  border-radius: 1ch;
  padding: 1ch;
  color: white;
  border: none;
  background-color: rgb(249, 77, 77);
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
}
